/* variables */
:root{
  --azul-color:#033E8C;
  --azulClaro-color:#86CCDA;
  --naranjaClaro-color:#F27F0C;
  --naranjaOscuro-color:#F7AD19;
  --gris-color:#E3E3E3;
  --blanco-color:#FFFFFF;
  --negro-color:#1B1B1B;
}
/* *FORMATEAR PAGINA */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Contenedor principal , Por buenas practicas se hace un contenedor donde este todo el body*/
.mainContainer{
  width: 100vw;
  min-height: 100vh;  
  max-width: 1440px; /* Se va adaptar a una resolucion maxima de 1440 por ancho */
  margin: 0 auto;
  font-family:"Montserrat", sans-serif;
}
.encabezado{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azul-color);
  color: var(--blanco-color);
}
.footer{ /* Se mantiene en el pie de la pagina, de acuerdo a su contenido  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: var(--blanco-color);
  background-color: var(--azul-color);  
}

/* Estilos para mobile con un ancho máximo de 600px */
@media screen and (max-width: 700px) {
  /* Colocar sus estilos aqui */

}

/* Estilos para tablet pantallas con un ancho máximo de 1024px */
@media screen and (min-width:601px) and (max-width: 1024px) {
  /* Colocar sus estilos aqui */

}

/* Estilos para desktop pantallas con un ancho min de 1024px */
@media screen and (min-width:1025px) {
  /* Colocar sus estilos aqui */

}

