/* variables */
:root {
  --azul-color: #033E8C;
  --azulClaro-color: #86CCDA;
  --naranjaOscuro-color: #F27F0C;
  --amarilloNaranja-color: #F7AD19;
  --gris-color: #E3E3E3;
  --blanco-color: #FFFFFF;
  --negro-color: #1B1B1B;
}

/* *FORMATEAR PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gris-color);
}

/* Contenedor principal , Por buenas practicas se hace un contenedor donde este todo el body*/
.contenedorPrincipal {
  width: 100vw;
  min-height: 100vh;
  max-width: 1440px;
  /* Se va adaptar a una resolucion maxima de 1440 por ancho */
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: var(--blanco-color);
}

.encabezado {
  /* Estilos para el encabezado es normal */
  width: 100%;
  height: 120px;
  background-color: var(--azul-color);
}

.footer {
  /* Se mantiene en el pie de la pagina, de acuerdo a su contenido  */
  width: 100%;
  height: 50px;
  color: var(--blanco-color);
  background-color: var(--azul-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para mobile*/
.contenido{
  display: grid;
  grid-template-areas:"bus bus bus"
                      "ham log car";
  gap: 5px;
  border: solid blue;
  width: 100%;
  height: 120px;
}

.logo{
  display: grid;
  grid-area: log;
  border: solid;
  place-content: center;
}

.logo img{
  width: 220px
}


.barraBusqueda{
  display: grid;
  grid-area: bus;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;
}
.barraNavegacion{
  display: none;
}
.icoUser{
  display: none;
}

.icoMenu{
  display: grid;
  grid-area: ham;
  font-size: 30px;
  color: var(--naranjaOscuro-color);
  place-content: center;
}
.icoCarrito{
  display: grid;
  grid-area: car;
  font-size: 30px;
  color: var(--naranjaOscuro-color);
  place-content: center;
}

/* Estilos para tablet pantallas con un ancho máximo de 1024px */
@media screen and (min-width: 659px) {
  /* Colocar sus estilos aqui */}

/* Estilos para escritorio */
@media(min-width: 1250px) {
  /* Colocar sus estilos aqui */}