@import url(/maqueta/styles.css); /* Se importan los estilos de styles, que es la principal */

/* IMPORTANTE
Comenzar con mobile por buenas practicas */



/* Estilos para mobile con un ancho máximo de 600px */
@media screen and (max-width: 659px) {

/* Primera seccion "banner (Jen) */

/* Segunda seccion " Información(PLINIO) */
/* SECCIÓN DE INFORMACIÓN CONTACTO */
.informacion{
  text-align: left;
}

.info-titulo {
  display: block; /* Asegura que el span se comporte como un elemento de bloque */
  text-align: center; 
  font-size: 18px;
  margin-bottom: 20px;
  font-size: 34px;
}
.info-contactanos{
  text-align: center;
  margin: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
.info-contactanos p{
  margin-bottom: 5px;
}

.info-img-map{
  text-align: center;
}

.info-img-map img{
  width: 90%;
  height: auto;
  margin: 10px 10px;
  border-radius: 20px;
}

}

/* Tercera seccion "Formulario ( Jennifer) */





/* Estilos para tablet pantallas con un ancho máximo de 1024px */
@media screen and (min-width: 660px) and (max-width: 1250px) {
    /* Colocar sus estilos aqui */

/* Primera seccion "banner (Jen) */
/* Segunda seccion " Información(plinio) */
/* SECCIÓN DE INFORMACIÓN CONTACTO */

.informacion {
  text-align: left;
  /* background-color: red; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center; 
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.info{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

.info-titulo {
  display: none; /* Elimina el titulo en esta vista */
}
.info-contactanos{
  text-align: center;
  margin: 10px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}
.info-contactanos p{
  margin-bottom: 5px;
}

.info-img-map{
  display: flex;
  text-align: center;

}

.info-img-map img{
  width: 95%;
  height: auto;
  margin: 10px 6px;
  border-radius: 20px;
}

/* Tercera seccion "Formulario ( Jennifer) */



}

/* Estilos para escritorio */ 
@media screen and (min-width: 1251px){    

  /* Primera seccion "banner (Jen) */
  /* Estilo para el banner general */
  /* Estilo para el banner general */
  /* Segunda seccion " Información(plinio) */

  .informacion {
    text-align: left;
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    padding: 20px;
    max-width: 1400px;
  }
  
  .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
  }
  
  .info-titulo {
    display: none; /* Elimina el titulo en esta vista */
  }
  .info-contactanos{
    text-align: center;
    margin: 10px 0px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .info-contactanos p{
    margin-bottom: 5px;
  }
  
  .info-img-map{
    display: flex;
    text-align: center;
  
  }
  
  .info-img-map img{
    width: 95%;
    height: auto;
    margin: 10px 6px;
    border-radius: 20px;
  }
  

  /* Tercera seccion "Formulario ( Jennifer) */
}