/* Importa el archivo CSS para la navegación administrativa */
@import url('/maqueta/componentes/admin/css/navAdmin.css');

/* IMPORTANTE Comenzar con mobile por buenas prácticas */
/* Estilos para mobile */

/* Contenedor principal de las tarjetas */
main.cards {
    display: flex; /* Utiliza flexbox para el layout */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 32px; /* Padding alrededor del contenedor */
  }
  
  /* Estilo de cada tarjeta */
  main.cards section.card {
    display: flex; /* Utiliza flexbox dentro de cada tarjeta */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    background-color: #E3E3E3; /* Color de fondo de la tarjeta */
    padding: 1rem 1.5rem; /* Padding dentro de cada tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Ancho máximo de cada tarjeta */
    margin: 16px; /* Margen alrededor de cada tarjeta */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
  }
  
  /* Estilo de los iconos dentro de las tarjetas */
  main.cards section.card .icon {
    width: 64px; /* Ancho del icono */
    height: 64px; /* Altura del icono */
  }
  
  /* Estilo de las imágenes dentro de las tarjetas */
  main.cards section.card img {
    width: 100%; /* Ancho de las imágenes */
  }
  
  /* Estilo de los encabezados dentro de las tarjetas */
  main.cards section.card h3 {
    font-size: 100%; /* Tamaño de la fuente del encabezado */
    margin: 16px 0; /* Margen superior e inferior */
  }
  
  /* Estilo del texto adicional dentro de las tarjetas */
  main.cards section.card span {
    font-weight: 300; /* Peso de la fuente */
    max-width: 240px; /* Ancho máximo del texto */
    font-size: 80%; /* Tamaño de la fuente */
    margin-bottom: 16px; /* Margen inferior */
  }
  
  /* Estilo de los botones dentro de las tarjetas */
  main.cards section.card button {
    padding: 0.5rem 1rem; /* Padding dentro del botón */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    border-radius: 32px; /* Bordes redondeados del botón */
    border: 0; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 80%; /* Tamaño de la fuente del botón */
    font-weight: 500; /* Peso de la fuente del botón */
    color: #E3E3E3; /* Color del texto del botón */
  }
  
  /* Estilo específico de los botones en diferentes tarjetas */
  main.cards section.card.contato button,
  main.cards section.card.compre button,
  main.cards section.card.sobre button {
    background: linear-gradient(to right, #033E8C, #86CCDA); /* Gradiente de fondo */
  }
  
  /* Sombra para diferentes tipos de tarjetas */
  main.cards section.card.contato,
  main.cards section.card.compre,
  main.cards section.card.sobre {
    box-shadow: 20px 20px 50px -30px #8d5adf; /* Sombra alrededor de las tarjetas */
  }
  



/* Estilos para tablet */
@media (min-width: 660px) {
  /* Aquí van los estilos para tablet */

   /* Contenedor principal de las tarjetas */
   main.cards {
    display: flex; /* Utiliza flexbox para el layout */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 32px; /* Padding alrededor del contenedor */
  }
  
  /* Estilo de cada tarjeta */
  main.cards section.card {
    display: flex; /* Utiliza flexbox dentro de cada tarjeta */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    background-color: #E3E3E3; /* Color de fondo de la tarjeta */
    padding: 2rem 2.5rem; /* Padding dentro de cada tarjeta */
    border-radius: 12px; /* Bordes redondeados */
    width: 100%; /* Ancho completo */
    max-width: 450px; /* Ancho máximo de cada tarjeta */
    margin: 16px; /* Margen alrededor de cada tarjeta */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
  }
  
  /* Estilo de los iconos dentro de las tarjetas */
  main.cards section.card .icon {
    width: 96px; /* Ancho del icono */
    height: 96px; /* Altura del icono */
  }
  
  /* Estilo de las imágenes dentro de las tarjetas */
  main.cards section.card img {
    width: 80%; /* Ancho de las imágenes */
    max-width: 300px; /* Ancho máximo de las imágenes */
  }
  
  /* Estilo de los encabezados dentro de las tarjetas */
  main.cards section.card h3 {
    font-size: 120%; /* Tamaño de la fuente del encabezado */
    margin: 16px 0; /* Margen superior e inferior */
  }
  
  /* Estilo del texto adicional dentro de las tarjetas */
  main.cards section.card span {
    font-weight: 300; /* Peso de la fuente */
    max-width: 280px; /* Ancho máximo del texto */
    font-size: 90%; /* Tamaño de la fuente */
    margin-bottom: 16px; /* Margen inferior */
  }
  
  /* Estilo de los botones dentro de las tarjetas */
  main.cards section.card button {
    padding: 0.75rem 1.5rem; /* Padding dentro del botón */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    border-radius: 32px; /* Bordes redondeados del botón */
    border: 0; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 90%; /* Tamaño de la fuente del botón */
    font-weight: 500; /* Peso de la fuente del botón */
    color: #E3E3E3; /* Color del texto del botón */
  }
  
  /* Estilo específico de los botones en diferentes tarjetas */
  main.cards section.card.contato button,
  main.cards section.card.compre button,
  main.cards section.card.sobre button {
    background: linear-gradient(to right, #033E8C, #86CCDA); /* Gradiente de fondo */
  }
  
  /* Sombra para diferentes tipos de tarjetas */
  main.cards section.card.contato,
  main.cards section.card.compre,
  main.cards section.card.sobre {
    box-shadow: 20px 20px 50px -30px #8d5adf; /* Sombra alrededor de las tarjetas */
  }
}


/* Estilos para escritorio */
@media (min-width: 1250px) {

  /* Contenedor principal de las tarjetas */
  main.cards {
    display: flex; /* Utiliza flexbox para el layout */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 32px; /* Padding alrededor del contenedor */
  }
  
  /* Estilo de cada tarjeta */
  main.cards section.card {
    display: flex; /* Utiliza flexbox dentro de cada tarjeta */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    background-color: #E3E3E3; /* Color de fondo de la tarjeta */
    padding: 2rem 2.5rem; /* Padding dentro de cada tarjeta */
    border-radius: 12px; /* Bordes redondeados */
    width: 100%; /* Ancho completo */
    max-width: 450px; /* Ancho máximo de cada tarjeta */
    margin: 16px; /* Margen alrededor de cada tarjeta */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
  }
  
  /* Estilo de los iconos dentro de las tarjetas */
  main.cards section.card .icon {
    width: 96px; /* Ancho del icono */
    height: 96px; /* Altura del icono */
  }
  
  /* Estilo de las imágenes dentro de las tarjetas */
  main.cards section.card img {
    width: 80%; /* Ancho de las imágenes */
    max-width: 300px; /* Ancho máximo de las imágenes */
  }
  
  /* Estilo de los encabezados dentro de las tarjetas */
  main.cards section.card h3 {
    font-size: 120%; /* Tamaño de la fuente del encabezado */
    margin: 16px 0; /* Margen superior e inferior */
  }
  
  /* Estilo del texto adicional dentro de las tarjetas */
  main.cards section.card span {
    font-weight: 300; /* Peso de la fuente */
    max-width: 280px; /* Ancho máximo del texto */
    font-size: 90%; /* Tamaño de la fuente */
    margin-bottom: 16px; /* Margen inferior */
  }
  
  /* Estilo de los botones dentro de las tarjetas */
  main.cards section.card button {
    padding: 0.75rem 1.5rem; /* Padding dentro del botón */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    border-radius: 32px; /* Bordes redondeados del botón */
    border: 0; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 90%; /* Tamaño de la fuente del botón */
    font-weight: 500; /* Peso de la fuente del botón */
    color: #E3E3E3; /* Color del texto del botón */
  }
  
  /* Estilo específico de los botones en diferentes tarjetas */
  main.cards section.card.contato button,
  main.cards section.card.compre button,
  main.cards section.card.sobre button {
    background: linear-gradient(to right, #033E8C, #86CCDA); /* Gradiente de fondo */
  }
  
  /* Sombra para diferentes tipos de tarjetas */
  main.cards section.card.contato,
  main.cards section.card.compre,
  main.cards section.card.sobre {
    box-shadow: 20px 20px 50px -30px #8d5adf; /* Sombra alrededor de las tarjetas */
  }
}
